<!doctype html>
<html>

<head>
  <title>Awesome html page</title>
  <meta name="This webpage was created by Danil Usmanov" content="Check time!">
  <style>
    body {
      background-image: url(static/kfc.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #7a6851;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center; vertical-align: middle; font-size: 200px; font-family: 'Times New Roman', Times, serif; background-color: rgb(150, 161, 255, 0.3); display:table; margin:auto;" id="clock">
    {{ time }}
  </h1>
</body>

</html>